# HTTP
HTTP_PORT=8080

# DB
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=payment_service
DB_DRIVER=postgres
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=30
DB_MIGRATIONS_FILE=./internal/persistence/migrations.sql

# Queue
QUEUE_TOPIC=finance.payments.payment.create.v1
QUEUE_BROKERS=kafka:9092
QUEUE_MAX_CONSUMERS=5
QUEUE_CONSUMER_GROUP=payments.payment-service-workers
QUEUE_INSTANCE_ID=payment-service-workers
QUEUE_TOPIC_MAX_PARTITIONS=3
OUTBOX_POLL_INTERVAL=5
OUTBOX_BATCH_SIZE=10